<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413436801809-3mu8s0kbn6aku2em1oqvmqutmv391fmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413436801809-3mu8s0kbn6aku2em1oqvmqutmv391fmp</string>
	<key>API_KEY</key>
	<string>AIzaSyAgcEgYRMfcmm1rYshvrOg3Tw4hkQjvTQI</string>
	<key>GCM_SENDER_ID</key>
	<string>413436801809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bdrouviere.swiftUI-chat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-bbb48</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-bbb48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413436801809:ios:16170b53bee2cc0e2912b0</string>
</dict>
</plist>